.page {
  background-color: #000;
  max-width: 1280px;
  min-width: 320px;
  color: #FFF;
  margin: 0 auto;
  font-family: Inter, 'Arial', 'Helvetica CY', 'Nimbus Sans L';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
