.popup__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 495px;
  height: 370px;
}

@media screen and (max-width: 525px) {
  .popup__container {
    width: 282px;
    height: 358px;
  }
}