.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 495px;
  min-width: 282px;
  width: 38.6%;
  min-height: 370px;
}

@media screen and (max-width: 525px) {
  .popup__container {
    min-height: 358px;
  }
}