.header {
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 95%;
  }
}

@media screen and (max-width: 525px) {
  .header {
    width: 100%;
    padding-top: 28px;
    min-height: 56px;
  }
}