.profile__add-button {
  margin-left: auto;
  padding: 0;
  background-color: #000;
  border: 0;
  transition: all 0.3s linear;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    padding-top: 15px;
    margin-left: 0;
  }
}

@media screen and (max-width: 525px) {
  .profile__add-button {
    padding-top: 36px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    padding-top: 33px;
  }
}