.element__delete {
  position: absolute;
  border: 0;
  top: 20px;
  right: 20px;
  background: url(../../../images/element/delete.svg) no-repeat center;
  width: 18px;
  height: 19.3px;
  transition: all 0.3s linear;
}

.element__delete:hover {
  cursor: pointer;
  opacity: 0.5;
}