.element__like {
  border: 0;
  padding-top: 7px;
  background: url(../../../images/element/like.svg) no-repeat center;
  width: 22px;
  height: 19px;
  transition: all 0.3s linear;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}