.profile__avatar-overlay {
  width: 120px;
  height: 120px;
  transition: all 0.2s linear;
}

.profile__avatar-overlay:hover {
  background: url('../../../images/profile/Avatar.svg') center no-repeat;
}